.chef-section {
    background-color: rgba(249, 249, 239, 255);
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
}

.chef-text {
    color: #2b2b2b;
}

.chef-text h2 {
    font-size: 24px;
    font-weight: bold;
}

.chef-text p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

.btn-read-more {
    background-color: rgba(186, 141, 108, 255);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

body {
    background-color: rgba(241, 230, 210, 255);
}

h1 {
    color: rgba(38, 47, 60, 255);
}

h4 {
    color: rgba(227, 138, 108, 255);
}

h5 {
    color: rgba(219, 90, 64, 254);
}

h1 {
    color: rgba(38, 47, 60, 255);
}

.testimonial-card {
    background-color: rgba(249, 249, 239, 255);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.testimonial-card img {
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-content {
    flex: 1;
}

.testimonial-content h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.testimonial-content p {
    margin-bottom: 10px;
    color: #555;
}

.testimonial-rating {
    color: #ff6f3c;
}

.testimonial-date {
    font-size: 14px;
    color: #bbb;
}

.jhon {
    margin: 0 auto;
}
.leaf{
    margin-left: 15%;
}
#leaf{
    width: 3%;
}

form {
    margin: 0 auto;
    width: 50%;
}

#email {
    background-color: rgba(209, 194, 165, 255);
}

#pwd {
    background-color: rgba(209, 194, 165, 255);
}

#comment {
    border-radius: 25px;
    background-color: rgba(209, 194, 165, 255);
}

#send {
    text-align: center;
}
#foot-disc{
    color: rgba(170,64,53,255);
}
footer {
    background-color: rgba(255, 158, 28, 255);
}
.fb{
    color: rgba(170,64,53,255);
}

.insta{
    color: rgba(170,64,53,255);
}

.yt{
    color: rgba(170,64,53,255);
}
#icons{
    width: 50%;
    margin: 0 auto;
}





  